.common_submit_btn {
  display: block;
  width: 6.9rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  background: #0099ee;
  font-size: 0.3rem;
  color: #fff;
  border: none;
  border-radius: 0.03rem;
  -o-border-radius: 0.03rem;
  -moz-border-radius: 0.03rem;
  -ms-border-radius: 0.03rem;
  -webkit-border-radius: 0.03rem;
  position: fixed;
  bottom: 0.3rem;
  left: 0.3rem;
  z-index: 99; }

.white_bg {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99; }

.disable_scroll {
  overflow: hidden;
  height: 100vh; }

.about-box {
  width: 100%;
  overflow: hidden; }
  .about-box .about-cont-box {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: rgba(17, 17, 17, 0.85); }
    .about-box .about-cont-box .about-cont-top {
      height: 100px;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center; }
    .about-box .about-cont-box .cont-top-box {
      overflow: hidden;
      width: 1240px;
      margin: 0 auto; }
      .about-box .about-cont-box .cont-top-box .cont-info-box {
        background: #ffffff;
        opacity: 0.8;
        width: 600px;
        height: 400px;
        border-radius: 8px; }
        .about-box .about-cont-box .cont-top-box .cont-info-box .info-img-box {
          width: 200px;
          height: 400px;
          box-shadow: 4px 1px 5px #cccccc;
          -webkit-box-shadow: 4px 1px 5px #cccccc;
          -ms-box-shadow: 4px 1px 5px #cccccc;
          -o-box-shadow: 4px 1px 5px #cccccc;
          -moz-box-shadow: 4px 1px 5px #cccccc; }
          .about-box .about-cont-box .cont-top-box .cont-info-box .info-img-box .img-box {
            width: 150px;
            height: 200px;
            padding-top: 50px;
            margin: 0 auto; }
          .about-box .about-cont-box .cont-top-box .cont-info-box .info-img-box .img-text {
            padding-left: 25px;
            margin-top: 10px;
            height: 25px;
            line-height: 25px;
            font-weight: bold; }
        .about-box .about-cont-box .cont-top-box .cont-info-box .info-text-box {
          padding-left: 20px;
          padding-right: 20px;
          margin-top: 10px;
          width: 400px;
          height: 400px; }
          .about-box .about-cont-box .cont-top-box .cont-info-box .info-text-box .text-title {
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-bottom: 1px solid #cccccc; }
          .about-box .about-cont-box .cont-top-box .cont-info-box .info-text-box .text-box {
            line-height: 25px;
            margin-top: 5px; }
          .about-box .about-cont-box .cont-top-box .cont-info-box .info-text-box .text-box-ending {
            text-align: right;
            color: #ff0077; }
      .about-box .about-cont-box .cont-top-box .cont-echarts-box {
        margin-left: 40px;
        width: 600px;
        height: 400px;
        background: #ffffff;
        opacity: 0.8;
        border-radius: 8px; }
    .about-box .about-cont-box .cont-footer-nox {
      width: 1240px;
      margin: 0 auto;
      margin-top: 60px;
      height: 350px;
      background: #ffffff;
      border-radius: 8px;
      opacity: 0.8; }
      .about-box .about-cont-box .cont-footer-nox .footer-left-box {
        width: 900px;
        height: 350px;
        box-shadow: 4px 1px 5px #cccccc;
        -webkit-box-shadow: 4px 1px 5px #cccccc;
        -ms-box-shadow: 4px 1px 5px #cccccc;
        -o-box-shadow: 4px 1px 5px #cccccc;
        -moz-box-shadow: 4px 1px 5px #cccccc;
        line-height: 350px;
        text-align: center; }
      .about-box .about-cont-box .cont-footer-nox .footer-right-box {
        width: 340px;
        height: 350px; }
        .about-box .about-cont-box .cont-footer-nox .footer-right-box .right-title {
          text-align: center;
          height: 30px;
          line-height: 30px;
          margin: 0 20px;
          font-size: 18px;
          border-bottom: 1px solid #cccccc; }
        .about-box .about-cont-box .cont-footer-nox .footer-right-box .right-text {
          margin-top: 10px;
          line-height: 25px;
          padding: 0 20px;
          text-indent: 2em; }
        .about-box .about-cont-box .cont-footer-nox .footer-right-box .contact-way-title {
          margin-top: 10px;
          padding: 0 20px;
          height: 30px;
          line-height: 30px;
          font-weight: bold; }
        .about-box .about-cont-box .cont-footer-nox .footer-right-box .contact-way-box {
          margin-top: 10px;
          padding: 0 20px; }
          .about-box .about-cont-box .cont-footer-nox .footer-right-box .contact-way-box .info-box {
            height: 30px;
            line-height: 30px; }
            .about-box .about-cont-box .cont-footer-nox .footer-right-box .contact-way-box .info-box .email-icon {
              font-size: 18px; }
            .about-box .about-cont-box .cont-footer-nox .footer-right-box .contact-way-box .info-box .qq-icon {
              font-size: 18px; }
            .about-box .about-cont-box .cont-footer-nox .footer-right-box .contact-way-box .info-box span {
              display: inline-block;
              line-height: 30px;
              margin-left: 10px; }
        .about-box .about-cont-box .cont-footer-nox .footer-right-box .hint-text {
          padding: 0 20px;
          margin-top: 10px;
          color: #ff0077; }

/*# sourceMappingURL=about.css.map */
